### Exercise 1
Primero creamos la variable ***vc*** y validamos que sean enteros:

In [1]:
vc<-c(1:20)
vc
typeof(vc[1])

 [1]  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20

[1] "integer"

Luego creamos la variable  ***temp*** para almacenar el valor de la posicion 2, asignamos el valor de la posicion 20 al 2 y el valor guardado en ***temp*** lo asignamos a la posicion 20. Y asi logramos el cambio.

In [15]:
temp<-vc[2]
vc[2]<-vc[20]
vc[20]<-temp
vc

 [1]  1 20  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19  2

### Exercise 2
Creamos la secuencia indicada en ***sqc***:

In [24]:
sqc<-rep(c(1,2,3,NA),5)
sqc

 [1]  1  2  3 NA  1  2  3 NA  1  2  3 NA  1  2  3 NA  1  2  3 NA

Obtenemos la media con la funcion ***mean*** y activamos su atributo ***na.rm*** para no considerar los NA:

In [26]:
mean(sqc,na.rm=TRUE)

[1] 2

Y para realizar el reemplazo usamos la funcion ***is.an*** para detectar los valores NA y reemplazarlos con la media

In [28]:
sqc[is.na(sqc)]<-mean(sqc,na.rm=TRUE)
sqc

 [1] 1 2 3 2 1 2 3 2 1 2 3 2 1 2 3 2 1 2 3 2

### Exercise 3
Creamos el data.frame ***df*** como se indica en el enunciado :

In [2]:
df <- data.frame("Age"=c(22, 25, 18, 20),"Name"=c("James","Mathew","Olivia","Stella"),"Gender"=c("M", "M", "F", "F"))
df

  Age Name   Gender
1 22  James  M
2 25  Mathew M
3 18  Olivia F
4 20  Stella F

### Exercise 4
Seleccionamos todos los registros mayores y iguales a 21 aÃ±os como se indica en el enunciado:

In [48]:
df[df$Age>=21,]

  Age Name   Gender
1 22  James  M
2 25  Mathew M

### Exercise 5
Primero agregamos la nueva columna ***adult*** con el valor FALSE:

In [52]:
df[,"adult"]<-c(FALSE)
df

  Age Name   Gender adult
1 22  James  M      FALSE
2 25  Mathew M      FALSE
3 18  Olivia F      FALSE
4 20  Stella F      FALSE

Luego, filtramos como hicimos en el ejercicio anteiror para poder cambiar el valor a TRUE:

In [59]:
df[df$Age>=21,]$adult<-TRUE
df

  Age Name   Gender adult
1 22  James  M       TRUE
2 25  Mathew M       TRUE
3 18  Olivia F      FALSE
4 20  Stella F      FALSE

### Exercise 6
Observamos que el dataset ***iris*** tiene 5 columnas de los cuales 4 son numericas y la ultima es un factor:

In [45]:
iris[1:4,]

  Sepal.Length Sepal.Width Petal.Length Petal.Width Species
1 5.1          3.5         1.4          0.2         setosa
2 4.9          3.0         1.4          0.2         setosa
3 4.7          3.2         1.3          0.2         setosa
4 4.6          3.1         1.5          0.2         setosa

Como se menciona en el enunciado excluimos la columna Species y creamos ***irismd*** donde solo contenga los datos requeridos

In [2]:
irismd<-iris[1:4]
irismd[1:4,]

  Sepal.Length Sepal.Width Petal.Length Petal.Width
1 5.1          3.5         1.4          0.2
2 4.9          3.0         1.4          0.2
3 4.7          3.2         1.3          0.2
4 4.6          3.1         1.5          0.2

Ahora usando ***apply*** con el atributo *Margin=1* para recorrer las filas con la funcion ***mean*** y asi tener la media de cada fila:

In [54]:
apply(irismd,1,mean)

  [1] 2.550 2.375 2.350 2.350 2.550 2.850 2.425 2.525 2.225 2.400 2.700 2.500
 [13] 2.325 2.125 2.800 3.000 2.750 2.575 2.875 2.675 2.675 2.675 2.350 2.650
 [25] 2.575 2.450 2.600 2.600 2.550 2.425 2.425 2.675 2.725 2.825 2.425 2.400
 [37] 2.625 2.500 2.225 2.550 2.525 2.100 2.275 2.675 2.800 2.375 2.675 2.350
 [49] 2.675 2.475 4.075 3.900 4.100 3.275 3.850 3.575 3.975 2.900 3.850 3.300
 [61] 2.875 3.650 3.300 3.775 3.350 3.900 3.650 3.400 3.600 3.275 3.925 3.550
 [73] 3.800 3.700 3.725 3.850 3.950 4.100 3.725 3.200 3.200 3.150 3.400 3.850
 [85] 3.600 3.875 4.000 3.575 3.500 3.325 3.425 3.775 3.400 2.900 3.450 3.525
 [97] 3.525 3.675 2.925 3.475 4.525 3.875 4.525 4.150 4.375 4.825 3.400 4.575
[109] 4.200 4.850 4.200 4.075 4.350 3.800 4.025 4.300 4.200 5.100 4.875 3.675
[121] 4.525 3.825 4.800 3.925 4.450 4.550 3.900 3.950 4.225 4.400 4.550 5.025
[133] 4.250 3.925 3.925 4.775 4.425 4.200 3.900 4.375 4.450 4.350 3.875 4.550
[145] 4.550 4.300 3.925 4.175 4.325 3.950

Ahora con el atributo *Margin=2* recorremos por columnas para determinar la media por cada columna:

In [57]:
apply(irismd,2,mean)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

Y finalmente probamos con las funciones especificas como rowMeans y colMeans. Con lo que obtenemos los mismos valores con ***apply***:

In [3]:
rowMeans(irismd)

  [1] 2.550 2.375 2.350 2.350 2.550 2.850 2.425 2.525 2.225 2.400 2.700 2.500
 [13] 2.325 2.125 2.800 3.000 2.750 2.575 2.875 2.675 2.675 2.675 2.350 2.650
 [25] 2.575 2.450 2.600 2.600 2.550 2.425 2.425 2.675 2.725 2.825 2.425 2.400
 [37] 2.625 2.500 2.225 2.550 2.525 2.100 2.275 2.675 2.800 2.375 2.675 2.350
 [49] 2.675 2.475 4.075 3.900 4.100 3.275 3.850 3.575 3.975 2.900 3.850 3.300
 [61] 2.875 3.650 3.300 3.775 3.350 3.900 3.650 3.400 3.600 3.275 3.925 3.550
 [73] 3.800 3.700 3.725 3.850 3.950 4.100 3.725 3.200 3.200 3.150 3.400 3.850
 [85] 3.600 3.875 4.000 3.575 3.500 3.325 3.425 3.775 3.400 2.900 3.450 3.525
 [97] 3.525 3.675 2.925 3.475 4.525 3.875 4.525 4.150 4.375 4.825 3.400 4.575
[109] 4.200 4.850 4.200 4.075 4.350 3.800 4.025 4.300 4.200 5.100 4.875 3.675
[121] 4.525 3.825 4.800 3.925 4.450 4.550 3.900 3.950 4.225 4.400 4.550 5.025
[133] 4.250 3.925 3.925 4.775 4.425 4.200 3.900 4.375 4.450 4.350 3.875 4.550
[145] 4.550 4.300 3.925 4.175 4.325 3.950

In [4]:
colMeans(irismd)

Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

### Exercise 7
Creamos la funcion Totalmeansiris, donde usamos la funcion ***c*** para combinar los valores obtenidos en el ejercicio anterior:

In [1]:
Totalmeaniris <- function() {
    irismd<-iris[1:4]
    resul<-c(rowMeans(irismd),colMeans(irismd))
    resul
}
Totalmeaniris()

    2.550000     2.375000     2.350000     2.350000     2.550000     2.850000

    2.425000     2.525000     2.225000     2.400000     2.700000     2.500000

    2.325000     2.125000     2.800000     3.000000     2.750000     2.575000

    2.875000     2.675000     2.675000     2.675000     2.350000     2.650000

    2.575000     2.450000     2.600000     2.600000     2.550000     2.425000

    2.425000     2.675000     2.725000     2.825000     2.425000     2.400000

    2.625000     2.500000     2.225000     2.550000     2.525000     2.100000

    2.275000     2.675000     2.800000     2.375000     2.675000     2.350000

    2.675000     2.475000     4.075000     3.900000     4.100000     3.275000

    3.850000     3.575000     3.975000     2.900000     3.850000     3.300000

    2.875000     3.650000     3.300000     3.775000     3.350000     3.900000

    3.650000     3.400000     3.600000     3.275000     3.925000     3.550000

    3.800000     3.700000     3.725000     3.850000     3.950000     4.100000

    3.725000     3.200000     3.200000     3.150000     3.400000     3.850000

    3.600000     3.875000     4.000000     3.575000     3.500000     3.325000

    3.425000     3.775000     3.400000     2.900000     3.450000     3.525000

    3.525000     3.675000     2.925000     3.475000     4.525000     3.875000

    4.525000     4.150000     4.375000     4.825000     3.400000     4.575000

    4.200000     4.850000     4.200000     4.075000     4.350000     3.800000

    4.025000     4.300000     4.200000     5.100000     4.875000     3.675000

    4.525000     3.825000     4.800000     3.925000     4.450000     4.550000

    3.900000     3.950000     4.225000     4.400000     4.550000     5.025000

    4.250000     3.925000     3.925000     4.775000     4.425000     4.200000

    3.900000     4.375000     4.450000     4.350000     3.875000     4.550000

    4.550000     4.300000     3.925000     4.175000     4.325000     3.950000
Sepal.Length  Sepal.Width Petal.Length  Petal.Width
    5.843333     3.057333     3.758000     1.199333

### Ejercicio 8
Creamos la funcion iterativa ***fibo*** que nos calcula los *N* pasos de Fibonacci:

In [48]:
fibo <- function(N) {
    #Primero validamos que el valor N sea mayor que 0
    if(N>0){
        #Luego condicionamos los 2 primeros pasos que son constantes
        if(N==1)
            res<-c(1)
        else if(N==2)
            res<-c(1,1)
        else if(N>=3){
            #Aqui ya iteramos la funcion para calcular los pasos mayores a 2
            N=N-1
            temp<-fibo(N)
            val=temp[N]+temp[N-1]
            res=c(temp,val)
        }
        res
    }
    else{
        print("DATO INGRESADO ERRONEO")
    }
}
fibo(10)

 [1]  1  1  2  3  5  8 13 21 34 55

### Exercise 9
El dataset elegido del BCN OpenData fue extraido de este [link](https://opendata-ajuntament.barcelona.cat/data/es/dataset/est-padro-domicilis-nacionalitat-espanyola-estrangera). Con que procedemos a su carga y visualizacion de sus 3 primeros registros:

In [52]:
espext <- read.table("2019_domicilis_nacionalitat_espanyola_estrangera.csv", header = TRUE, sep=",")
espext[1:3,]

  Any  Codi_districte Nom_districte Codi_barri Nom_barri      Nacionalitat
1 2019 1              Ciutat Vella  1          el Raval       Cap espanyol
2 2019 1              Ciutat Vella  2          el Barri GÃ²tic Cap espanyol
3 2019 1              Ciutat Vella  3          la Barceloneta Cap espanyol
  Nombre
1 5604
2 2336
3 2130

'data.frame':	730 obs. of  7 variables:
 $ Any           : int  2019 2019 2019 2019 2019 2019 2019 2019 2019 2019 ...
 $ Codi_districte: int  1 1 1 1 2 2 2 2 2 2 ...
 $ Nom_districte : Factor w/ 10 levels "Ciutat Vella",..: 1 1 1 1 2 2 2 2 2 2 ...
 $ Codi_barri    : int  1 2 3 4 5 6 7 8 9 10 ...
 $ Nom_barri     : Factor w/ 73 levels "BarÃ³ de Viver",..: 23 8 28 64 17 40 31 27 38 59 ...
 $ Nacionalitat  : Factor w/ 10 levels "1 espanyol","1 estranger",..: 9 9 9 9 9 9 9 9 9 9 ...
 $ Nombre        : int  5604 2336 2130 3291 1696 2684 3131 2662 2768 2017 ...